body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.grid-item {
    border: 1px solid #d0d0d0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    width: 25%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#donorGroupBox {
    position: fixed;
    bottom: 150px;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
    border: 1px solid #d0d0d0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#logout {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
